<%- include("../in/header.ejs") %>
<link rel="stylesheet" href="/st/movie.css">
<body>
    <div class="container">
        <h1>User profile</h1>
        <p><%= user.Name %></p>
        <img src="<%= user.profileImage %>" height = '300px'>
        <p>
            <a href='mailto: <%= user.email %>'> <%= user.email %></a>
        </p>
        <h3>Your collections:</h3>
        <ul>
            <% Comment.forEach(function(Comment){ %>
                <li><a href='/Pagemovie/<%= Comment.movieID %>'><%= Comment.text %></a></li>
            <% });%>
        </ul>
        <% if(currentUser && currentUser.isAdmin){ %>
            <button class="p-2 link-secondary" onclick="document.location = '/Addmovie'">ADDMOVIE</button>
        <% } %>

        
    </div>
</body>
    
<%- include("../in/footer.ejs") %>