<%- include("../in/header.ejs") %>

  <body>
    <div class="container">
      <div class="movie-full">
        <div class="movie-poster">
          <img src="<%= showmovie.image %>">
        </div>

        <div class="movie-detail">
          <h1>
            <%= showmovie.name %>
          </h1>
          <div>DATE:<%= showmovie.date %>
          </div>
          <div>RATE:<%= showmovie.rate %>
          </div>
          <div>CATEGORY:<%= showmovie.category %>
          </div>
          <div>TIMEMOVIE:<%= showmovie.timemovie %>
          </div>
          <div>SYNOPSIS:<%= showmovie.Synopsis %>
          </div>
        </div>
      </div>

      <div class="video-preview">
        <div class="TRAILER">TRAILER</div>
        <iframe src="<%= showmovie.trailer %>" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <br />
      <div class="Comment">
        <h2>Comments</h2>
      </div>
      <div class="box comment">
        <% showmovie.Comments.forEach(function(comment){ %>
          <li>
            <strong>
              <%= comment.author.username %>
            </strong> -- <%= comment.text %>
          </li>
          <% if (currentUser && comment.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){ %>
            <a href="/Pagemovie/<%= showmovie._id %>/comments/<%= comment._id %>/edit"
              class="btn btn-sm btn-outline-secondary">Edit</a>
            <form id="delete-form" action="/Pagemovie/<%= showmovie._id %>/comments/<%= comment._id %>?_method=DELETE"
              method="POST">
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Delete
              </button>
            </form>
            <% } %>
              <% }) %>
      </div>
      <div class="btAddcomment">
        <a href="/Pagemovie/<%= showmovie._id %>/comments/addnewcomment"
          class="btn btn-sm btn-outline-secondary comment  d-block justify-content-center">Add new comment</a>
      </div>
      <div class="show-in-theater">
        <h2>โรงภาพยนต์</h2>
        <div class="theaters">
          <% movieoftheater.forEach(function(movieoftheater){ %>
            <% if(date> movieoftheater.onair_time){ %>
              <div class="timeout">
                <div class="theater">
                  <a>
                    <div>
                      <h3>
                        <%= movieoftheater.theater.name %>
                      </h3>
                      <div>รอบ : <%= movieoftheater.onair_time.toLocaleString() %>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <% }else{ %>
                <div class="theater">
                  <a href="/ticket/<%= movieoftheater.theater._id %>/<%=showmovie._id %>">
                    <div>
                      <h3>
                        <%= movieoftheater.theater.name %>
                      </h3>
                      <div>รอบ : <%= movieoftheater.onair_time.toLocaleString() %>
                      </div>
                    </div>
                  </a>
                </div>
                <% } %>
                  <% }) %>
        </div>
      </div>
      <% if (currentUser && showmovie.author.id.equals(currentUser._id) ||(currentUser && currentUser.isAdmin)){ %>
        <a href="/Pagemovie/<%= showmovie._id %>/edit" class="btn btn-sm btn-outline-secondary">Edit Movie</a>
        <form id="delete-form" action="/showmovie/<%= showmovie._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-sm btn-outline-secondary">
            Delete Movie
          </button>
        </form>
        <% }else{ %>
          <a></a>
          <% } %>
    </div>
  </body>

  <%- include("../in/footer.ejs") %>