<%- include("../in/header2.ejs") %>
<link rel="stylesheet" href="/st/Cinema.css">
<!-- <link rel="stylesheet" href="/st/index.css">
<link rel="stylesheet" href="/st/movie.css"> -->
<div class="container boxmovie" id="theaterID">
    <div class="list-movie">
        <% data.forEach(function(item){ %>
    <a  href="/Pagemovie/<%= item.movie._id %>">
      <div class="card-movie">
        <img src="<%= item.movie.image %>" class="image-poster" />
        <div class="overlay">
          <div class="name">
            เรื่อง :  <%= item.movie.name %>
          </div>
          <div class="time">
            เวลาฉาย : <%= item.onair_time.toLocaleString() %>
          </div>
        </div>
      </div>
    </a>
    <% }) %>
    </div>
  </div>
</body>
<!-- <body>
    <% data.forEach(function(item){ %>
        <h1>theater:<%= item.theater.name %></h1> 
        <h1>show time:<%= item.onair_time %></h1> 
        <h1>name time:<%= item.movie.name %></h1> 
        <img src="<%= item.movie.image %>">
        <h1>rate :<%= item.movie.rate %></h1> 
        <h1>category :<%= item.movie.category %></h1>
        <h1>timemovie :<%= item.movie.timemovie %></h1>
        <a href="/Pagemovie/<%= item.movie._id %>" class="btn btn-sm btn-outline-secondary">View</a>
    <% }) %>
</body> -->
<%- include("../in/footer.ejs") %>